spring:
  application:
    name: identity-access-service

  datasource:
    url: jdbc:postgresql://localhost:5432/ias_dev
    username: postgres
    password: M@kinj@131194

  profiles:
    active: dev

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    baselineOnMigrate: true

logging:
  level:
    org.hibernate.SQL: debug
