spring:
  application:
    name: identity-access-service

  profiles:
    active: dev

  security:
    jwt:
      secret: "THIS_IS_A_VERY_LONG_AND_SECURE_SECRET_KEY_32_CHARS_MIN"
      expiration: 1800000

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    baselineOnMigrate: true

logging:
  level:
    org.hibernate.SQL: debug
