spring:
  application:
    name: identity-access-service

  profiles:
    active: dev

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    baselineOnMigrate: true

logging:
  level:
    org.hibernate.SQL: debug
